body {
    background-image: linear-gradient(to right, #e0c3fc, #8ec5fc);
    font-family: 'Open Sans', sans-serif;
    /* font-weight: bold; */
}

.titulo {
    background-color: white;
    width: 277px;
    height: 75px;
    margin: 0 10px;
}

h1{
    font-size: 18px;
    text-align: center;
    padding: 26px;
    
}

#novaTarefa {
    background-color: white;
    width: 272px;
    height: 100px;
    margin: 0 10px;
    border: 2px solid #dcdcdc;
}

.botao {
    background-color: #ba7af8;
    padding: 8px 122px;
    margin: 2px 10px;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.novoItem {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 264px;
    background-color: white;
    padding: 10px 5px;
    margin: 0 10px;
    border: 2px solid #dcdcdc;
}

.tarefaColor {
    font-size: 12px;
}

span {
    font-size: 12px;
    text-align: center;
}

.meu-erro {
    margin: 0;
    font-size: 16px;
    color: red;
    text-align: center;
}

.feito {
    text-decoration: line-through;
    color: gray;
}