body {
    background-image: linear-gradient(to right, #e0c3fc, #8ec5fc);
    font-family: 'Open Sans', sans-serif;
    /* font-weight: bold; */
}

.titulo {
    background-color: white;
    width: 273px;
    height: 75px;
    margin: 0 6px;
}

h1{
    font-size: 18px;
    text-align: center;
    padding: 24px;
}

#novaTarefa {
    background-color: white;
    width: 270px;
    height: 100px;
    margin: 0 5px;
    border: 2px solid #dcdcdc;
}

.botao {
    background-color: #ba7af8;
    padding: 8px 121px;
    margin: 2px 5px;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

li {
    list-style-type: none;
}

.tarefaColor {
    font-size: 12px;
    background-color: white;
    padding: 15px 5px;
    width: 267px;
    margin: 0 4px;
    border: 2px solid #dcdcdc;
}

.meu-erro {
    margin: 0;
    font-size: 16px;
    color: red;
    text-align: center;
}